.detail{
    width: 100%;
    height: 100%;
    background-image: url("./HomePage.jpg");
    background-size: contain;
    position:fixed;
    top: 0;
    left: 0;
    align-items:center;
    display:flex;
    flex-direction:column;
    overflow-y: scroll;
  }
  .card {
    border: 1px solid #ddd;
    background-color: #17ad99;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;
}

.card h2 {
    margin-bottom: 8px;
}

.card img {
    max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
    border-radius: 8px;
}

.card span {
    font-weight: bold;
    margin-left: 4px; /* Ajusta el margen según tus necesidades */
}

.card ul {
    list-style: none;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.card li {
    margin-bottom: 4px; /* Ajusta el margen inferior según tus necesidades */
}