.home{
    width: 100%;
    height: 100%;
    background-image: url("./HomePage.jpg");
    background-size: contain;
    position:fixed;
    top: 0;
    left: 0;
    align-items:center;
    display:flex;
    flex-direction:column;
    overflow-y: scroll;
  }